* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
}

.top {
    width: 100%;
    padding: 40px;
    background-image: url(../Images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: auto;
}

h3 {
    color: white;
}

.para1 {
    color: white;
    font-size: 24px;
    font-weight: 100;
}

.upper {
    display: flex;
    flex-direction: row;
    background-color: rgb(75, 189, 177);
    width: 350px;
    margin: auto;
}

.bot {
    display: flex;
    flex-direction: row;
    background-color: rgb(250, 65, 59);
    width: 350px;
    margin: auto;
    margin-top: 20px;
}

.passed {
    flex: 5;
    text-align: left;
    padding-left: 10px;
}

.passedNumber {
    flex: 1;
    color: white;
}

.failed {
    flex: 5;
    text-align: left;
    padding-left: 10px;
}

.failedNumber {
    flex: 1;
    color: white;
}

form {
    width: 100%;
    height: 70px;
    background-color: rgb(241, 237, 237);
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subjectDropDownList {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    font-size: 18px;
    color: grey;
    padding-left: 5px;
    margin-right: 10px;
    border: none;
}

.first {
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border-color:rgb(75, 189, 177);
    border-width: 1px;
    font-size: 16px;
    margin-right: 10px;
}

.second {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#addButton {
    width: 80px;
    color:rgb(13, 172, 150);
    font-size: 32px;
    border: none;
}

.tables {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.passedTable {
    flex-grow: 1;
}

.failedTable {
    flex-grow: 1;
}

table {
    width: 400px;
    margin: auto;
    border-collapse: collapse;
}

table th {
    text-align: left;
}

.passedTable th {
    color: rgb(13, 172, 150);
    padding-bottom: 10px;
}

.failedTable th {
    color: rgb(250, 65, 59); 
    padding-bottom: 10px;
}

.passedTableRow {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.failedTableRow {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.passedTableRow td{
    height: 25px;
}

.failedTableRow td {
    height: 25px;
}



